@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 100%;
  width: 100%;
}

:root {
  --background: #e5e0d5;
  --foreground: #1a3c34;
  --primary-color: #1a3c34;
  --secondary-color: #c5a059;
  --accent-color: #4a7c59;
  --border-radius: 2.5rem;
  --glass-intensity: 10%;
  --font-family: "Outfit", sans-serif;
  --font-serif-family: "Playfair Display", serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);

  --font-serif: var(--font-serif-family);
  --font-sans: var(--font-family);

  --radius-sovereign: var(--border-radius);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
.font-serif {
  font-family: var(--font-serif);
}

.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* Hide Google Translate UI */
.goog-te-banner-frame.skiptranslate,
.goog-te-gadget-icon,
.goog-tooltip {
  display: none !important;
}

body {
  top: 0px !important;
}

.skiptranslate {
  color: transparent !important;
}

.skiptranslate>span {
  color: inherit;
}

.skiptranslate iframe {
  display: none;
}